* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(216, 72, 72);
}

h1 {
    color: white;
    text-align: center;
    padding-top: 50px;
}

.first {
    background-color: white;
    border-radius: 30px;
    width: 70%;
    min-height: 250px;
    margin: 30px auto;
}

.row {
    padding-top: 50px;
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.row-1 {
    padding-top: 50px;
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content:center;
}

button {
    margin-left: 50px;
    font-size: 20px;
    color: red;
}

.second {
    display: flex;
    justify-content: center ;
    background-color: white;
    width: 70%;
    min-height: 250px;
    margin: 30px auto;
}

.item {
    border: solid 1px black;
    width: 150px;
    margin-left: 20px;
}

.option p {
    text-align: center;
    color:rgb(216, 72, 72);
    padding-bottom: 10px;
}

.option input {
    border-radius: 5px;
}

.option select {
    border-radius: 5px;
}